!=== {{ switchname | default('none') }} ===!

!--- IOS config ---!
enable
configure terminal
hostname {{ switchname | default('none') }}

!--- MGMT ---!
username {{ username | default('none') }} secret alta3
ip route 0.0.0.0 0.0.0.0 {{ defaultgateway | default('none') }}
interface Management 1
ip address {{ switchIP | default('none') }} {{ netmask | default('none') }}
mtu {{ mtusize | default('none') }}
exit

!--- SSH ---!
management ssh
  idle-timeout 0
  authentication mode keyboard-interactive
  server-port 22
  no fips restrictions
  no hostkey client strict-checking
  no shutdown
  login timeout 120
  log-level info
exit
exit
write memory

